* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

/* header*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 10px;
}

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(250, 232, 210);
  font-size: 60px;
  margin-left: 15px;
}

.headerImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/*middle area*/
.time-select,
.sound-picker,
.player-container {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.player-container svg {
  /*circle svg*/
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg); /*play svg (icon) ortalamasını sağladık, rotate(-90deg) ile de circle animasyonun default sağda başlıyordu üstte başlamasını sağladık*/
  pointer-events: none; /* pointer-events: farenin işlevini yerine getirip getirmeyeceği belirlenir.*/
}

.play {
  cursor: pointer;
}

.replay {
  position: absolute;
  height: 30px;
  bottom: 30%; /*aşağı konumlandırdık*/
  color: rgb(250, 232, 210);
  cursor: pointer;
}

.time-display {
  position: absolute;
  bottom: 10%; /* Zaman sayacı, konumu player içindeydi bu sayede aşağı konumlandırdık*/
  color: rgb(250, 232, 210);
  font-size: 50px;
}

video {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: auto;
  z-index: -10;
  background-color: #000;
  border-bottom: 1px solid transparent;
}

/*button property*/
.musicImage {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 16px;
  height: 16px;
  font-weight: thin;
}

.time-select button,
.sound-picker button {
  color: rgb(250, 232, 210);
  width: 30%;
  height: 10%;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  transition: all 0.5s ease; /* :hover olunca oluşacak efekt*/
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.time-select button:hover,
.sound-picker button:hover {
  opacity: 0.7;
}

.time-select button:nth-child(1) {
  background-color: #e0b1cb;
}

.time-select button:nth-child(2) {
  background-color: #be95c4;
}

.time-select button:nth-child(3) {
  background-color: #9f86c0;
}

.time-select button:nth-child(4) {
  background-color: #5e548e;
}

.time-select button:nth-child(5) {
  background-color: #231942;
}

button[name="Rain"] {
  background: #e76f51;
}

button[name="Beach"] {
  background: #f4a261;
}

button[name="Bird"] {
  background: #e9c46a;
}

button[name="Piano"] {
  background: #2a9d8f;
}

button[name="Relaxing"] {
  background: #457b9d;
}

button[name="Winter"] {
  background: #264653;
}

/* hakan */
/* .selectedButton {
} */
.hidden {
  visibility: hidden !important;
}

/* For Responsive*/
@media only screen and (max-width: 767px) {
  .headerTitle {
    font-size: 40px;
    margin-top: 10px;
  }

  .headerImg {
    display: none;
  }

  video {
    height: 100%;
    width: auto;
    display: block;
  }

  .time-select button,
  .sound-picker button {
    width: 110px;
    height: 50px;
  }

  .time-select button {
    margin-left: 10px;
  }
  .player-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-container svg {
    height: 25%;
    width: 25%;
  }

  .play {
    width: 25px;
    height: 25px;
  }

  .time-display {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
